

NET "AN[3]" IOSTANDARD = LVCMOS33;
NET "AN[2]" IOSTANDARD = LVCMOS33;
NET "AN[1]" IOSTANDARD = LVCMOS33;
NET "AN[0]" IOSTANDARD = LVCMOS33;
NET "CA[6]" IOSTANDARD = LVCMOS33;
NET "CA[5]" IOSTANDARD = LVCMOS33;
NET "CA[4]" IOSTANDARD = LVCMOS33;
NET "CA[3]" IOSTANDARD = LVCMOS33;
NET "CA[2]" IOSTANDARD = LVCMOS33;
NET "CA[1]" IOSTANDARD = LVCMOS33;
NET "CA[0]" IOSTANDARD = LVCMOS33;
NET "rgb[7]" IOSTANDARD = LVCMOS33;
NET "rgb[6]" IOSTANDARD = LVCMOS33;
NET "rgb[5]" IOSTANDARD = LVCMOS33;
NET "rgb[4]" IOSTANDARD = LVCMOS33;
NET "rgb[3]" IOSTANDARD = LVCMOS33;
NET "rgb[2]" IOSTANDARD = LVCMOS33;
NET "rgb[1]" IOSTANDARD = LVCMOS33;
NET "rgb[0]" IOSTANDARD = LVCMOS33;


NET "clk" LOC = V10;
NET "clr" LOC = T10;
NET "up" LOC = A8;
NET "down" LOC = C9;
NET "hSync" LOC = N6;
NET "vSync" LOC = P7;
NET "rgb[7]" LOC = U7;
NET "rgb[6]" LOC = V7;
NET "rgb[5]" LOC = N7;
NET "rgb[4]" LOC = P8;
NET "rgb[3]" LOC = T6;
NET "rgb[2]" LOC = V6;
NET "rgb[1]" LOC = R7;
NET "rgb[0]" LOC = T7;
NET "AN[3]" LOC = P17;
NET "AN[2]" LOC = P18;
NET "AN[1]" LOC = N15;
NET "AN[0]" LOC = N16;
NET "CA[6]" LOC = L14;
NET "CA[5]" LOC = N14;
NET "CA[4]" LOC = M14;
NET "CA[3]" LOC = U18;
NET "CA[2]" LOC = U17;
NET "CA[1]" LOC = T18;
NET "CA[0]" LOC = T17;

# PlanAhead Generated IO constraints 

NET "clr" IOSTANDARD = LVCMOS33;
NET "hSync" IOSTANDARD = LVCMOS33;
NET "vSync" IOSTANDARD = LVCMOS33;
NET "down" IOSTANDARD = LVCMOS33;
NET "up" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
